# IDE files and Golang vendoring.
/.idea
/vendor
# Benchmark output dirs
/results*

# Terraform state files
/provider/.terraform
*.tfstate
*.tfstate.backup

# Binaries
tracer-benchmarks
*.exe

# Local hacky shellscripts
*-util.sh

# Local random notes
RANDOM.md

#Jupyter state
/.ipynb_checkpoints

#Other files for convenience
*.pdf